<center><h1>Registration</h1></center>

{{#each reg_number}}
<center>
    <h3>
        <ul>
        <li><a href="/index/{{{this.message}}}">{{{this.message}}}</a></li></h3>
        </ul>

    </h3>
</center>

{{//each}}