<div class="container">
	<div>
		<h1>Registration numbers</h1>

		<div class="regNumbers">
			<!-- <i>Reg numbers to be added here...</i> -->
			eg
			CY 123,
			CJ 124 236,
			CA 125-458

		</div>

		<div class="message">

            <h3>
                {{messages.info}}

            </h3>
        

		</div>



		<div>
			<form action="/regNumbers" method="post">
				<input type="text" name="regNumber" id="" class="regNumberEntered" placeholder="enter a registration number">
				<button type="submit" class="addRegNumber btn blue">Add reg number</button>
			</form>
       
        <h3>
            <div class="display"> 
                {{regNumberEntered}}

            </div> 
        </h3>

		<ul>
			{{#each regs}}
				<li>{{this.reg_number}}</li>
			{{/each}}
		</ul>


		</div>

		<div class="filter">
			<strong>Filter by town</strong>
			<div class="filterTown">
				<input type="radio" name="town" class value="">Show all
				<input type="radio" name="town" value="CY">Bellville
				<input type="radio" name="town" value="CJ">Paarl
				<input type="radio" name="town" value="CA"> Cape Town
			</div>
		</div>
		<hr>

	</div>
</div>
