<div class="container">
	<div>
		<h1>Registration numbers</h1>
		<div class="regNumbers">
			<!-- <i>Reg numbers to be added here...</i> -->
			eg
			CY 123,
			CJ 124 236,
			CA 125-458

		</div>



		<div class="message">

			<h3>
				{{messages.info}}

			</h3>


		</div>



		<div>
			<form action="/regNumbers" method="post">
				<input type="text" name="regNumber" id="" class="regNumberEntered"
					placeholder="enter a registration number">
				<button type="submit" class="addRegNumber btn blue">Add reg number</button>
			</form>

			<form action="/filter" method="post">
				<div class="filter">
					<strong>Filter by town</strong>
					<div class="filterTown">
						<input type="radio" name="town" class value="All">Show all
						<input type="radio" name="town" value="CY">Bellville
						<input type="radio" name="town" value="CJ">Paarl
						<input type="radio" name="town" value="CA"> Cape Town
					</div>
					<button type="submit" class="btn">Filter</button>
					<br>
				</div>


			</form>

			<div class="reset">
    <form action="/reset" method="get">

        <button>Reset</button>
    </form>

</div>



			<h3>
				<div class="display">
					{{regNumberEntered}}
			</h3>
		</div>
		<div>
			<ul>
				{{#each regs}}
				<p>{{this.reg_number}}</li>
					{{/each}}
			</ul>


		</div>


	</div>


	{{!-- <hr> --}}

</div>
</div>